<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<section class="container">

  <form class="formulario" (ngSubmit)="addmotor()">
      <h2 class="formulario_titulo">Motores Corrente Alternada</h2>

      <div class="form-field">
        <label for="fabricante" class="form-field_label">Fabricante</label>
        <input id="fabricante" type="text" class="form-field_input" [(ngModel)]="fabricante" name="fabricante">
      </div>

      <div class="form-field">
        <label for="modelo" class="form-field_label">Modelo</label>
        <input id="modelo" type="text" class="form-field_input" [(ngModel)]="modelo" name="modelo">
      </div>

      <div class="form-field">
        <label for="corrente" class="form-field_label">Corrente</label>
        <input id="corrente" type="text" class="form-field_input" [(ngModel)]="corrent" name="corrent">
      </div>

      <div class="form-field">
        <label for="tensao" class="form-field_label">Tensão</label>
        <input id="tensao" type="text" class="form-field_input" [(ngModel)]="tensao" name="tensao">
      </div>

      <div class="form-field">
        <label for="potencia" class="form-field_label">Potência</label>
        <input id="potencia" type="text" class="form-field_input" [(ngModel)]="potencia" name="potencia">
      </div>

      <div class="form-field">
        <label for="rpm" class="form-field_label">RPM</label>
        <input id="rpm" type="text" class="form-field_input" [(ngModel)]="rpm" name="rpm">
      </div>

      <div class="form-field">
        <label for="grau" class="form-field_label">Grau de proteção</label>
        <input id="grau" type="text" class="form-field_input" [(ngModel)]="grau" name="grau">
      </div>

      <div class="form-field">
        <label for="ipin" class="form-field_label">Ip/In</label>
        <input id="ipin" type="text" class="form-field_input" [(ngModel)]="ipin" name="ipin">
      </div>

      <div class="form-field">
        <label for="rendimento" class="form-field_label">Rendimento</label>
        <input id="rendimento" type="text" class="form-field_input" [(ngModel)]="rendimento" name="rendimento">
      </div>

      <div class="form-field">
        <label for="rolamento" class="form-field_label">Tipo de Rolamento</label>
        <input id="rolamento" type="text" class="form-field_input" [(ngModel)]="rolamento" name="rolamento">
      </div>

      <div class="botao-wrapper">
        <button class="botao" type="submit">Salvar</button>
      </div>

    </form>

</section>


  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

